<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYTSL8lo56hSyYIMYLJ6YtF9mHrCbryNA</string>
	<key>GCM_SENDER_ID</key>
	<string>913121825829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zirowan.goldenheists</string>
	<key>PROJECT_ID</key>
	<string>the-golden-heists</string>
	<key>STORAGE_BUCKET</key>
	<string>the-golden-heists.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913121825829:ios:ddc12ec9acb3dbbdfb5bcc</string>
</dict>
</plist>